{
  "openapi": "3.1.0",
  "info": {
    "title": "CleanNest enquiry API",
    "version": "1.0.0",
    "description": "Accepts a cleaning enquiry for CleanNest, a cleaning company based in Jalandhar, Punjab, and delivers it to the business. This is the site's only interface intended to be called by visitors. It is public but gated by a Cloudflare Turnstile token, so it is meant to be called from the cleannest.in pages rather than by unattended agents, which cannot obtain a token. The site also exposes a WhatsApp webhook at /api/whatsapp, but that is Meta's callback rather than a visitor interface: it is documented here only so this description is complete, and it rejects every request that is not signed by Meta.",
    "contact": {
      "name": "CleanNest",
      "url": "https://cleannest.in/contact.html",
      "telephone": "+91 76100 00654"
    }
  },
  "servers": [
    {
      "url": "https://cleannest.in",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/inquiry": {
      "post": {
        "summary": "Send a cleaning enquiry",
        "description": "Validates the enquiry and sends it to the business. Values are trimmed and clamped to the documented maximum lengths; control characters are stripped. On success the enquiry has been delivered, and there is no idempotency key — a repeated identical request is a second enquiry.",
        "operationId": "createInquiry",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Inquiry"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The enquiry was delivered.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_json` for a malformed or non-object body, `name_required` when name is empty, `phone_invalid` when the phone number is not 10-15 digits after non-digits are stripped.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "`captcha_failed` — the Turnstile token was missing, rejected, or could not be verified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "`method_not_allowed` — this path only accepts POST.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "`payload_too_large` — the declared body exceeds 16384 bytes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "`send_failed` — the enquiry passed validation but could not be delivered downstream.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "`not_configured` — captcha verification or delivery is not configured in this deployment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/whatsapp": {
      "get": {
        "summary": "Meta webhook verification (not a visitor interface)",
        "description": "The one-time handshake Meta performs when the webhook URL is saved in the WhatsApp Business app configuration. Echoes `hub.challenge` back as plain text when `hub.verify_token` matches the deployment's configured token, and returns 403 otherwise — including when no token is configured, so an unconfigured deployment refuses subscriptions rather than accepting them.",
        "operationId": "verifyWhatsAppWebhook",
        "parameters": [
          {
            "name": "hub.mode",
            "in": "query",
            "required": true,
            "schema": {"type": "string", "const": "subscribe"}
          },
          {
            "name": "hub.verify_token",
            "in": "query",
            "required": true,
            "schema": {"type": "string"}
          },
          {
            "name": "hub.challenge",
            "in": "query",
            "required": true,
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "The challenge, echoed as `text/plain`.",
            "content": {"text/plain": {"schema": {"type": "string"}}}
          },
          "403": {
            "description": "The mode is not `subscribe`, the token does not match, or no verify token is configured."
          }
        }
      },
      "post": {
        "summary": "Inbound WhatsApp message delivery (called by Meta, not by clients)",
        "description": "Receives message deliveries from the WhatsApp Business Cloud API. Every request must carry a valid `X-Hub-Signature-256` HMAC of the raw body computed with the app secret; an unsigned or mis-signed body is rejected with 401 and never reaches the send path. The first message from a given number within a 24-hour window is answered once with a greeting, and repeat messages in that window are ignored. Messages the business sends from the WhatsApp Business app are echoed back by Meta under a separate field and are never answered. The response is 200 even when an outbound reply fails, because Meta retries any other status and a retry would greet the customer twice.",
        "operationId": "receiveWhatsAppMessage",
        "responses": {
          "200": {
            "description": "The delivery was accepted and processed. `greeted` counts the greetings actually sent.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {"const": true},
                    "greeted": {"type": "integer"}
                  },
                  "required": ["ok", "greeted"]
                }
              }
            }
          },
          "400": {
            "description": "`invalid_json` — the signed body was not valid JSON."
          },
          "401": {
            "description": "`bad_signature` — the `X-Hub-Signature-256` header was missing or did not match the app secret."
          },
          "405": {
            "description": "`method_not_allowed` — this path accepts only GET (verification) and POST (delivery)."
          },
          "413": {
            "description": "`payload_too_large` — the declared body exceeds 65536 bytes."
          },
          "503": {
            "description": "`not_configured` — no app secret is set in this deployment, so no delivery can be authenticated."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Inquiry": {
        "type": "object",
        "required": ["name", "phone", "turnstileToken"],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 80,
            "description": "The customer's name."
          },
          "phone": {
            "type": "string",
            "maxLength": 20,
            "description": "Contact number. Non-digits are stripped, so spacing and punctuation are accepted. A 10-digit number is treated as Indian and prefixed with 91; 10 to 15 digits are required, and the digits are what is delivered."
          },
          "when": {
            "type": "string",
            "maxLength": 40,
            "description": "Free-text preferred timing, passed through to the business unchanged."
          },
          "notes": {
            "type": "string",
            "maxLength": 1500,
            "description": "Free-text notes. Line breaks are preserved."
          },
          "services": {
            "type": "array",
            "maxItems": 20,
            "description": "The services the enquiry is about. At most 20 are kept; each is clamped to 80 characters and any that are empty after trimming are dropped.",
            "items": {
              "type": "string",
              "maxLength": 80
            }
          },
          "turnstileToken": {
            "type": "string",
            "maxLength": 2048,
            "description": "Cloudflare Turnstile response token. Required — the endpoint rejects the request without a verifiable token."
          }
        }
      },
      "Success": {
        "type": "object",
        "properties": {
          "ok": {
            "const": true
          }
        },
        "required": ["ok"]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "A machine-readable reason code."
          }
        },
        "required": ["error"]
      }
    }
  }
}
